*{
    margin:0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #fafdff;
}
.container {
    text-align: center;
    padding: 20px;
}
.container h1{
    font-size: 50px;
    color: #008080;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Verdana', sans-serif;
}
.img-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 80%;
    margin: 30px auto;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.img-gallery img:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 100%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
